fastapi==0.94.0
gradio==3.20.1
librosa==0.8.1
numpy==1.24.2
plotly==5.11.0
pydantic==1.10.4
pygame==2.1.2
pypesq==1.2.4
requests==2.22.0
SoundFile==0.10.3.post1
SpeechRecognition==3.9.0
torch==1.13.1
uvicorn==0.21.0
whisper==1.0
